[submodule "plugin-update-checker"]
	path = vendor/plugin-update-checker
	url = https://github.com/YahnisElsts/plugin-update-checker.git
[submodule "includes/wcexd-checkout-fields"]
	path = includes/wc-checkout-fields
	url = https://ilGhera@bitbucket.org/ilGhera/wc-checkout-fields.git
[submodule "includes/ilghera-notice"]
	path = includes/ilghera-notice
	url = https://ilGhera@bitbucket.org/ilGhera/ilghera-notice.git
